!!!
%html
  %head
    %title PHOTOBOMB
    %link{href: "css/all.css", rel: "stylesheet", type: "text/css"}
    %script{src: "js/all.js"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        -# %ul.nav.navbar-nav.navbar-right
        -#   %li
        -#     %a{href: "#"} Favorites
        -#   %li
        -#     %a{href: "#"} Style
        .navbar-form.text-center
          .form-group.input-group-lg.form-group-lg
            %input.form-control.text-input{value: "LOL", type: "text", placeholder: "PHOTOBOMB!"}
          .pull-right
            .btn.navbar-btn
              %i.fa.fa-gear.btn-settings

    .text-wrapper
      .text

    .page-settings
      %h1
        PHOTOBOMB
      %p
        by
      %p
        %a{href: "http://mickjeffries.com"}
          Mick Jeffries
      %p
        and
      %p
        %a{href: "http://jetpackdanceoff.com"}
          Nick Warner
          %br
          Jetpack Danceoff
