!!!
%html
  %head
    %title PHOTOBOMB
    %link{href: "css/all.css", rel: "stylesheet", type: "text/css"}
    %script{src: "js/all.js"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .row
          .col-xs-2
            -# .btn.navbar-btn
            -#   %i.fa.fa-hand-o-up.fa-2x
          .col-xs-8
            .navbar-form.text-center
              .form-group.input-group-lg.form-group-lg
                %input.form-control.text-input{type: "text", placeholder: "PHOTOBOMB!"}
          .col-xs-2
            .pull-right
              .btn.navbar-btn
                %i.fa.fa-gear.fa-2x.btn-settings

    .text-wrapper
      .text

    .page-settings
      %h1
        PHOTOBOMB
      %p
        by
      %p
        %a{href: "http://mickjeffries.com"}
          Mick Jeffries
      %p
        &amp;
      %p
        %a{href: "http://nwarner.com"}
          Nick Warner
